<!DOCTYPE html>
<html>
  <head>
    <title>CatalogoDeFilmes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <h1><%= link_to 'Catálogo', root_path %></h1>
    <nav>
      <ul>
        <li><%= link_to 'Adicionar Gênero', new_genre_path %></li>
        <li><%= link_to 'Adicionar Diretor', new_director_path %></li>
        <li><%= link_to 'Adicionar Filme', new_movie_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
